/* src/App.css */
.App {
  text-align: center;
  margin: 50px;
}

.editor-container {
  /* width: 80%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px; */
  display: flex;
}

.output {
  margin-top: 20px;
  padding: 10px;
  background-color: #f4f4f4;
  border-radius: 4px;
  min-height: 150px;
  text-align: left;
}

/* src/App.css */
.app {
  display: flex;
  margin: 20px;
}

.sidebar {
  /* width: auto; */
  border: 1px solid #ddd;
  padding: 20px;
  height: 100vh;
}

.toc-item {
  padding: 10px;
  margin: 5px;
  border: 1px solid #ddd;
  cursor: pointer;
}

.toc-item.dragging {
  opacity: 0.5;
}

.main-container {
  margin-left: 20px;
  padding: 20px;
  flex-grow: 1;
}

.section {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  min-height: 100px;
}

.section:hover {
  background-color: #f7f7f7;
}

@media print {
  .page {
    page-break-before: always;
    page-break-after: always;
    page-break-inside: avoid;
  }
}
